<div>
    <mat-card>
      <form>
        <mat-form-field class="full-width">
            <input type="text" matInput [(ngModel)]="title" name="title" placeholder="Title">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput [(ngModel)]="description" name="description" placeholder="Brief Description:">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="taskDate" name="taskdate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="ngx-timepicker-field-example full-width">
            Start time:
            <ngx-timepicker-field [format]="24" [defaultTime]="'23:11'" [(ngModel)]="startHM" name="startHM"></ngx-timepicker-field>
        </div>
        <div class="ngx-timepicker-field-example full-width">
            End time:
            <ngx-timepicker-field [format]="24" [defaultTime]="'23:11'" [(ngModel)]="endHM" name="endHM"></ngx-timepicker-field>
        </div>


        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Pick a task calendar: </mat-label>
            <mat-select  [(value)]="pickedCalendarId">
            <mat-option *ngFor="let c of calendars" value="{{c.id}}">{{c.name}} - {{c.description}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Pick a task color: </mat-label>
          <mat-select  [(value)]="pickedCalednarColorId">
          <mat-option *ngFor="let c of calendarColors" value="{{c.id}}" [style.background-color]="c.backgroundColor" [style.color]="c.fontColor ? c.fontColor : 'rgb(0, 0, 0)'" >{{c.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Pick a task emoji: </mat-label>
          <mat-select  [(value)]="pickedEmojiId">
          <mat-option *ngFor="let e of emojis" value="{{e.id}}">{{e.emoticon}} - {{e.name}}</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field  class="full-width" appearance="fill">
          <mat-label>Participants: </mat-label>
          <mat-select [(value)]="selectedUsersIds" multiple>
            <mat-option *ngFor="let user of allUsers" [value]="user.id">{{user.name}}</mat-option>
          </mat-select>
        </mat-form-field>


        <div class="centered-content">
          <br>
          <button class="button-margins" mat-raised-button color="warn" (click)="addTask()">Add Task</button>
        </div>
      </form>
    </mat-card>
  </div>
