<div>
    <mat-card>
      <form>
        <mat-form-field class="full-width">
            <input type="text" matInput [(ngModel)]="title" name="title" placeholder="Title">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="text" matInput [(ngModel)]="description" name="description" placeholder="Brief Description:">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="taskDate" name="taskdate" (dateInput)="getUsersAvailability()">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="full-width time-input-div">
          Start time:
          <input class="time-input-input" matInput placeholder="Click To Set Time" aria-label="12hr format" [format]="24" [ngxTimepicker]="start" readonly [(ngModel)]="startHM" name="startHM" (ngModelChange)="getUsersAvailability()">
          <ngx-material-timepicker #start></ngx-material-timepicker>
        </div>

        <div class="full-width time-input-div">
          End time:
          <input class="time-input-input" matInput placeholder="Click To Set Time" aria-label="12hr format" [format]="24" [ngxTimepicker]="end" readonly [(ngModel)]="endHM" name="endHM" (ngModelChange)="getUsersAvailability()">
          <ngx-material-timepicker #end></ngx-material-timepicker>
        </div>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Pick a task calendar: </mat-label>
            <mat-select  [(value)]="pickedCalendarId">
            <mat-option *ngFor="let c of calendars" value="{{c.id}}">{{c.name}} - {{c.description}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Pick a task color: </mat-label>
          <mat-select  [(value)]="pickedCalednarColorId">
          <mat-option *ngFor="let c of calendarColors" value="{{c.id}}" [style.background-color]="c.backgroundColor" [style.color]="c.fontColor ? c.fontColor : 'rgb(0, 0, 0)'" >{{c.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Pick a task emoji: </mat-label>
          <mat-select  [(value)]="pickedEmojiId">
          <mat-option *ngFor="let e of emojis" value="{{e.id}}">{{e.emoticon}} - {{e.name}}</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field  class="full-width" appearance="fill" *ngIf="isTaskTimeSet">
          <mat-label>Participants: </mat-label>
          <mat-select [(value)]="selectedUsersIds" multiple>
            <mat-option *ngFor="let user of allUsers" [value]="user.id">{{user.name}}</mat-option>
          </mat-select>
        </mat-form-field>


        <div class="centered-content">
          <br>
          <button class="button-margins" mat-raised-button color="warn" (click)="addTask()">Add Task</button>
        </div>
      </form>
    </mat-card>
  </div>
