mat-form-field {
    width: 100%;
  }
button {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.loginDeo {
  display: flex;
  justify-content: center;
}

.loginDeo2 {
  margin-left: 20%;
  width: 60%;
  display: flex;
  justify-content: center;
}

.full-width{
    padding-top: 0.5rem;
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
}

.button-margins {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.centered-content {
    display: flex;
    justify-content: center;
}

.time-input-input{
  background-color: rgb(243, 243, 243);
}

.time-input-div :hover{
  cursor: pointer;
}


.light-red-background{
  background-color: rgb(255, 219, 219);
}

.light-green-background{
  background-color: rgb(241, 255, 235);
}

.light-green-background :hover{
  background-color: rgb(156, 196, 141);
}
