.fill-content{
    height: 100%;
    width: 100%;
}
.abs-pos{
    position: absolute;
}
.light-blue-background{
    background-color: rgb(155, 191, 223);
    /* background-color: rgb(177, 211, 164); */
}
.light-blue-background:hover{
    background-color: rgb(108, 163, 211);
    cursor: pointer;
}
.light-blue-background:active{
  background-color: rgb(77, 144, 202);
  box-shadow: 0 5px rgb(108, 163, 211);
  transform: translateY(2%);
}

.light-red-background{
    background-color: rgb(250, 210, 135);
    /* background-color: rgb(177, 211, 164); */
}
.light-red-background:hover{
    background-color: rgb(231, 172, 63);
    cursor: pointer;
}
.light-red-background:active{
  background-color: rgb(201, 149, 53);
  box-shadow: 0 5px rgb(231, 172, 63);
  transform: translateY(2%);
}