<div class="whole-page">
<!-- choose a month part -->
<mat-form-field appearance="fill" class="centar">
    <mat-label>monthpicker</mat-label>
    <input matInput [(ngModel)]="monthAndYear"
                    [matDatepicker]="picker"
                    (dateChange)="emitDateChange($event)" />
    <mat-hint>MM/YYYY</mat-hint>
    <mat-datepicker-toggle
      matSuffix
      [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker [startView]="'year'"
                    (monthSelected)="monthChanged($event, picker)">
    </mat-datepicker>
</mat-form-field>

<hr>
<!-- select calendar types -->

    <mat-form-field  class="full-width" appearance="fill" class="centar">
      <mat-label>CalendarTypes: </mat-label>
      <mat-select [(value)]="selectedCalendarIds" multiple>
        <mat-option *ngFor="let calendar of allCalendars" [value]="calendar.id" (click)="onCalendarsChange()">{{calendar.name}}</mat-option>
      </mat-select>
    </mat-form-field>
<hr>
<!-- calendar part -->

<!-- first row with days of the week -->
<div class="calendar-spacing">
    <mat-grid-list cols="7" rowHeight="8:3">
        <mat-grid-tile *ngFor="let day of weekDays" class="light-red-background">
            {{day}}
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="7" rowHeight="1:1">
        <!-- outputing dummy cells until the first day of the month  -->
        <!-- (depends on the day of the week of the 1st day of the month) -->
        <mat-grid-tile *ngFor="let tasksList of dummyCells"></mat-grid-tile>
        <!-- outputing calendar day cells -->
        <mat-grid-tile *ngFor="let tasksList of daysOfTheMonth | slice:1:maxDaysOfTheMonth+1; index as i">
            <app-calendar-day class="fill-cell" [day]="i+1" [taskList]="tasksList" [holidayDtoList]="holidaysOfTheMonth[i+1]" (currentlySelectedDay)="setCurrentlySelectedDay($event)" ></app-calendar-day>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<hr>
<!-- tasks for the selected day part -->
<app-cal-task-list [tasks]="daysOfTheMonth[selectedDay]" [holidays]="holidaysOfTheMonth[selectedDay]"></app-cal-task-list>

</div>
