<mat-toolbar color="primary">
    <span class="meni-span">
          <a routerLink="/"><mat-icon fontIcon="home"></mat-icon></a>
    </span>

    <a mat-button [matMenuTriggerFor]="menu" style="font-size: large;">
          Calendar
          <mat-icon>arrow_drop_down</mat-icon>
    </a>
    <mat-menu #menu="matMenu">
          <a routerLink="/calendar/global" mat-menu-item class="drop-down-menu-style">Global Calendar</a>
          <a routerLink="/calendar/user" mat-menu-item class="drop-down-menu-style" *ngIf="loggedIn">My Calendar</a>
          <a routerLink="/create/task" mat-menu-item class="drop-down-menu-style" *ngIf="loggedIn">Create New Task</a>
          <a routerLink="/create/holiday" mat-menu-item class="drop-down-menu-style" *ngIf="loggedIn">Create New Holiday</a>
    </mat-menu>

    <span class="meni-span">
          <a routerLink="/about">About</a>
    </span>


    <span class="spacer"></span>
    <ul>
          <li class="meni-span" *ngIf="!loggedIn">
                <button mat-raised-button color="warn" routerLink="auth/register">Register</button>
          </li>
          <li class="meni-span" *ngIf="!loggedIn">
                <button mat-raised-button style="background-color: green; color: white;"  routerLink="auth/login">Login</button>
          </li>
          <li *ngIf="loggedIn">
                <button mat-raised-button color="warn" (click)="logout()">Logout</button>
          </li>
    </ul>
</mat-toolbar>
